/*headers*/
h1{
  text-align:center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:50px;
}
h2, h3, h4, h5{
  text-align:center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr{
  border-width:2px;
  border-color:#2d3639;
}
body{
  color:black;
  background-color:#b4d7e3;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-align:center;
  image-orientation: center;
  height:0%;
}
li{
  list-style-type: none;
}
header{
  margin: 10;
  background-color:#71868e;
  padding: 10px 0 10px 10px;
}
footer{
  margin: 0;
  background-color:#71868e;
  padding: 10px 0 15px 15px;
}
a:link{color:black;}
a:visited{color:#714E5A;}
a:hover{color:grey;}
a:active{color:#5A714E;}